.content {
  width: 80%; /* Ensure content spans full width */
  max-width: 800px; /* Optional: Limit the max width of the card */
  margin-top: 20px; /* Add spacing between toolbar and card */
  padding: 20px;
}

.service-manager-card {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  border-radius: 8px;
}

mat-card-content {
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: blueviolet;
  }
  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #ccc;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }
}

.submitted-list {
  margin-top: 32px;
}

mat-list-item {
  background: #f7fafd;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 8px;
  box-shadow: 0 1px 4px rgba(52, 152, 219, 0.05);
}

@media (max-width: 600px) {
  .availability-manager-container {
    padding: 12px;
  }
  h2 {
    font-size: 1.3rem;
  }
} 