<div class="login-page">
  <div *ngIf="!user" class="login-container">
    <h2 style="color: aliceblue;">LOGIN</h2>
    <div class="social-login">
      <button id="google-button" (click)="login()" class="social-button">
        <img
        src="googlelogo.png"
        alt="Google"
        />
        SIGN IN WITH GOOGLE
      </button>
      <div style="color: aliceblue;" class="separator"></div>

      <button id="google-button" (click)="login()" class="social-button">
        <img
        src="facebooklogo.png"
        alt="Facebook"
        />
        SIGN IN WITH FACEBOOK
      </button>
      <div style="color: aliceblue;" class="separator"></div>

      <button (click)="login()"  class="social-button">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
          alt="Apple"
        />
        SIGN IN WITH APPLE
      </button>
      <div style="color: aliceblue;" class="separator"></div>
    </div>

  </div>
  <div *ngIf="user" class="logout-container">
    <h2 style="color: aliceblue;">LOGOUT</h2>
    <div class="social-login">
      <button id="logout-button" (click)="logout()" class="social-button">SIGN OUT</button>
    </div>

  </div>
</div>
