
.login-page {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 85vh; /* Or any desired height for the parent */
}

.login-container {
    background-color: cornflowerblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.logout-container {
    background-color: cornflowerblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #ddd;
}

.social-button img {
    height: 20px;
    margin-right: 10px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: #777;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}
