<h2>Services</h2>

<!-- Video Player -->
<div class="video-container">
  <video controls autoplay muted class="video-player">
    <source src="SampleVideo.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>


<div class="card-grid">
  <div *ngFor="let product of products" >
    <div class="card" (click)="viewDetails(product.id)">
      <h3 class="card-title">{{ product.name }}</h3>
      <div class="card-image">
        <img src="Outdoor-Dining-and-Vistas.jpg" alt="Image 1" />
      </div>
    </div>
  </div>
<div>