<div class="mobile-nav">
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="mobile-branding">
    <div class="branding-content">
      <img src="assets/ruku-logo-1.png" alt="Ruku IT Services Logo" class="logo">
      <div class="company-name">Ruku IT Services</div>
    </div>
  </div>
  <div class="company">photography</div>
  <nav class="nav-links" [ngClass]="{'open': isMenuOpen}">
    <ul>
      <li><a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a></li>
      <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About Us</a></li>
      <li><a routerLink="/schedule" routerLinkActive="active" (click)="closeMenu()">Schedule</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
      <li><a routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">Orders</a></li>
      <li *ngIf="isLoggedIn">
        <a (click)="toggleSubMenu()">Admin</a>
        <ul *ngIf="isSubMenuOpen" class="submenu">
          <li><a routerLink="/admin/AddAvailability" routerLinkActive="active">ADD AVAILABILITY</a></li>
        </ul>
      </li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      </ul>
  </nav>
</div>

<div class="desktop-nav">
  <div class="company-branding">
    <a routerLink="/" >
      <div class="branding-content">
        <img src="assets/ruku-logo-1.png" alt="Ruku IT Services Logo" class="logo">
        <span class="title">Ruku IT Services</span>
      </div>
    </a>
  </div>

  <div class="nav-menu">
    <ul>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Orders</a></li>
      <li class="has-submenu" (mouseenter)="isSubMenuOpen = true" (mouseleave)="isSubMenuOpen = false">
        <a (click)="toggleSubMenu()">Admin</a>
        <ul *ngIf="isSubMenuOpen" class="submenu">
          <li><a routerLink="/admin/manage-services" routerLinkActive="active">Manage Services</a></li>
          <li><a routerLink="/admin/manage-availability" routerLinkActive="active">Manage Availability</a></li>
        </ul>
      </li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>